In [2]:
from dLoader import DataLoader, generate_df

In [3]:
d = DataLoader('AAPL', '2018-01-01', '2019-12-31')

In [4]:
price = d.data.iloc[0]

In [5]:
generate_df(price, m='15min')

                          Open       High        Low      Close
2018-01-02 09:30:00  42.540001  42.793981  42.344221  42.389910
2018-01-02 09:45:00  42.389910  42.593200  42.323191  42.432246
2018-01-02 10:00:00  42.432246  42.865195  42.321646  42.403399
2018-01-02 10:15:00  42.403399  42.798309  42.331387  42.580926
2018-01-02 10:30:00  42.580926  42.843313  42.323150  42.427926
2018-01-02 10:45:00  42.427926  43.065920  42.314999  43.006371
2018-01-02 11:00:00  43.006371  43.055376  42.423902  42.766759
2018-01-02 11:15:00  42.766759  43.069610  42.612209  42.874306
2018-01-02 11:30:00  42.874306  43.073211  42.605970  42.618191
2018-01-02 11:45:00  42.618191  43.070647  42.604381  42.905381
2018-01-02 12:00:00  42.905381  43.066621  42.455701  42.798868
2018-01-02 12:15:00  42.798868  43.033148  42.397283  42.916492
2018-01-02 12:30:00  42.916492  43.070019  42.465516  42.732222
2018-01-02 12:45:00  42.732222  43.074251  42.559289  42.804908
2018-01-02 13:00:00  42.804908  43.067913  42.545534  42.749505
2018-01-02 13:15:00  42.749505  43.060377  42.593042  42.816796
2018-01-02 13:30:00  42.816796  43.071749  42.605077  42.932588
2018-01-02 13:45:00  42.932588  43.057796  42.514323  43.010887
2018-01-02 14:00:00  43.010887  43.075001  42.642646  42.915800
2018-01-02 14:15:00  42.915800  43.026415  42.507868  42.897039
2018-01-02 14:30:00  42.897039  43.068672  42.578088  42.799997
2018-01-02 14:45:00  42.799997  43.071298  42.669289  42.989688
2018-01-02 15:00:00  42.989688  43.065438  42.583185  42.785673
2018-01-02 15:15:00  42.785673  43.042566  42.619275  42.757964
2018-01-02 15:30:00  42.757964  43.061237  42.484213  42.961678
2018-01-02 15:45:00  42.961678  43.051672  42.585751  42.729028
2018-01-02 16:00:00  42.729028  43.064999  42.689148  43.064999