In [2]:
from dLoader import DataLoader, generate_df

In [3]:
d = DataLoader('AAPL', '2018-01-01', '2019-12-31')

In [4]:
price = d.data.iloc[0]

In [7]:
generate_df(price, m='30min')

                          Open       High        Low      Close
2018-01-02 09:30:00  42.540001  42.892742  42.321254  42.892742
2018-01-02 10:00:00  42.892742  42.970106  42.336594  42.636384
2018-01-02 10:30:00  42.636384  42.931398  42.328676  42.377881
2018-01-02 11:00:00  42.377881  42.846241  42.317503  42.463518
2018-01-02 11:30:00  42.463518  42.961351  42.314999  42.900665
2018-01-02 12:00:00  42.900665  43.066771  42.536493  42.850072
2018-01-02 12:30:00  42.850072  43.074269  42.476288  43.074269
2018-01-02 13:00:00  43.074269  43.074269  42.454602  42.669670
2018-01-02 13:30:00  42.669670  43.068590  42.474192  42.964638
2018-01-02 14:00:00  42.964638  43.075001  42.416437  42.587439
2018-01-02 14:30:00  42.587439  43.073456  42.510930  42.802284
2018-01-02 15:00:00  42.802284  43.071408  42.425101  42.609613
2018-01-02 15:30:00  42.609613  43.065729  42.467680  42.792312
2018-01-02 16:00:00  42.792312  43.064999  42.696840  43.064999