In [1]:
# Installing dependencies
import numpy as np
import pandas as pd
from yfQuery import datareader

# Loading Data

In [2]:
class DataLoader:
    '''
        Class for loading past stocks prices
        symbol: symbol can be either a single symbol or 
                a list of symbol
        start:  start date
        end:    end date
    '''
    def __init__(self, symbol, start, end):
        # Preload
        self.data = datareader(symbol, start, end)
    
    def get(self, start, end):
        # Return a period of the data
        return self.data.iloc[start: end]

# Stack and DataFrame

In [3]:
def restack_array(array):
    # Restacking Array to Open, High, Low, Close
    narr = array.reshape(-1, 4).copy()
    nclose = narr[:, -1].copy()
    nopen = narr[:, 0].copy()
    nopen[1:] = nclose[:-1]
    nhigh = narr.max(1)
    nlow = narr.min(1)
    return np.stack([nopen, 
                     np.max([nhigh, nopen], axis=0), 
                     np.min([nlow, nopen], axis=0), 
                     nclose]).T

def create_datetime(t, period=390):
    # Create minute index for date
    ts = t.replace(hour=9, minute=31)
    return pd.date_range(ts, periods=period, freq="1min")

def to_dataframe(array, index):
    # Create minute DataFrame
    return pd.DataFrame(array, index=index,
                        columns=['Open', 'High', 'Low', 'Close'])

def get_different_time_frame(df, m='min'):
    if m != 'min':
        o = df['Open'].groupby(by=pd.Grouper(freq=m)).first()
        c = df['Close'].groupby(by=pd.Grouper(freq=m)).last()
        h = df['High'].groupby(by=pd.Grouper(freq=m)).max()
        l = df['Low'].groupby(by=pd.Grouper(freq=m)).min()
        return pd.concat([o, h, l, c], axis=1)
    return df

# Recursion

In [16]:
def get_target_price(array, i, pct=.95):
    # Get next target
    target = array[i:][array[i:] > 0][0]
    # Get High and Low 
    high = array.max()
    low = array[array > 0].min()
    # Current price
    current = array[i - 1] if i != 0 else array[i]
    # Upper and Lower bound
    upper = (high - current) * pct
    lower = (low - current) * pct
    momen = target - current
    gain = current + np.random.uniform(0, upper)
    lost = current + np.random.uniform(lower, 0)
    rand = np.random.choice([True, False])
    if rand:
        return np.random.choice([gain, lost])
    elif momen > 0:
        return gain
    return lost

def fill_gap(arr, i=0, pct=.95):
    # Using Recursion to get price when price is not 0.
    if (i + 1) == len(arr):
        return arr
    elif (arr <= 0).sum() == 0:
        return arr
    else:
        if arr[i] == 0:
            arr[i] = get_target_price(arr, i, pct)
        return fill_gap(arr, i+1)

In [17]:
def generate_df(price, m='min', period=390):
    # Generate psudo price for minutes data
    # Creating array
    length = period * 4
    array = np.zeros(length)
    pad = int(length * .1)
    point_a = np.random.randint(pad, int(length * .6))
    point_b = np.random.randint(point_a + pad, length - pad)
    swap = np.random.choice([True, False])
    if swap:
        pr = price['Open'], price['Low'], price['High'], price['Close']
    else:
        pr = price['Open'], price['High'], price['Low'], price['Close']
    array[[0, point_a, point_b, -1]] = pr
    # Filling gap
    fill_gap(array)
    # Restack
    restack = restack_array(array)
    # DataFrame
    date_index = create_datetime(price.name, period=period)
    df = to_dataframe(restack, date_index)
    return get_different_time_frame(df, m=m)

In [18]:
d = DataLoader('AAPL', '2018-01-01', '2019-12-31')
price = d.data.iloc[0]

In [20]:
generate_df(price, m='15min')

                          Open       High        Low      Close
2018-01-02 09:30:00  42.540001  43.075001  42.379328  42.892568
2018-01-02 09:45:00  42.892568  43.074581  42.368139  42.929809
2018-01-02 10:00:00  42.929809  43.075001  42.487665  43.071912
2018-01-02 10:15:00  43.071912  43.075001  42.389357  43.036514
2018-01-02 10:30:00  43.036514  43.074736  42.346273  43.073399
2018-01-02 10:45:00  43.073399  43.075001  42.315380  42.315554
2018-01-02 11:00:00  42.315554  43.059817  42.315031  42.381985
2018-01-02 11:15:00  42.381985  43.042398  42.315070  42.332985
2018-01-02 11:30:00  42.332985  43.043373  42.315201  42.537062
2018-01-02 11:45:00  42.537062  43.031421  42.315007  42.791229
2018-01-02 12:00:00  42.791229  43.051758  42.315025  42.340030
2018-01-02 12:15:00  42.340030  43.023435  42.315455  42.316488
2018-01-02 12:30:00  42.316488  43.044458  42.315035  42.329275
2018-01-02 12:45:00  42.329275  43.065451  42.314999  42.852159
2018-01-02 13:00:00  42.852159  43.072775  42.343974  43.000299
2018-01-02 13:15:00  43.000299  43.072743  42.346423  43.061791
2018-01-02 13:30:00  43.061791  43.074998  42.337757  42.995985
2018-01-02 13:45:00  42.995985  43.072130  42.326296  42.999688
2018-01-02 14:00:00  42.999688  43.071759  42.383167  43.023827
2018-01-02 14:15:00  43.023827  43.073278  42.328999  43.065385
2018-01-02 14:30:00  43.065385  43.072928  42.319685  43.068011
2018-01-02 14:45:00  43.068011  43.072321  42.353274  42.707605
2018-01-02 15:00:00  42.707605  43.074698  42.357510  42.861633
2018-01-02 15:15:00  42.861633  43.072474  42.329229  43.041332
2018-01-02 15:30:00  43.041332  43.072953  42.370958  43.049831
2018-01-02 15:45:00  43.049831  43.072434  42.356542  43.008765
2018-01-02 16:00:00  43.008765  43.065140  42.470893  43.064999